@model PaginadorModel
<br />
<div class="row">
    <div class="panel-heading">
        <div class="col-sm-12 col-md-12">

            <div class="row">

                @using (Html.BeginForm("GetExcelEstadoCtaCorriente", "ContabilidadAuxiliares", FormMethod.Post))
                    {
                            <div class="col-md-2 pull-right">
                            
                                    <br />
                                    <button @*@(Model == null || Model.Count == 0 ? "disabled" : string.Empty)*@ class="btn btn-success waves-effect waves-light pull-right" value="Exportar" name="Save" type="submit" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
                                        <span class="btn-label"><i class="fa fa-file-excel-o"></i></span>Exportar
                                    </button>
                                    <br />
                            
                                <br />
                            </div>
                        }
                <div class="col-md-1 pull-right">

                    <br />
                    <button class="btn btn-default" onclick="ExportarPDF()">
                        <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>Exportar PDF
                    </button>
                    <br />

                    <br />
                </div>
        </div>

            <h2 class="page-header">Estado de Cuentas Corrientes</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Contabilidad Reportes</a>
                </li>
                <li>
                    <a href="#">-</a>
                </li>
                <li class="active">
                    Estado de Cuentas Corrientes
                </li>
            </ol>
        </div>
    </div>
</div>
<br />

<div class="form-group">
    <div class="row">
        <div class="card-box">
            @using (Html.BeginForm("EstadoCtasCorrientes", "ContabilidadAuxiliares", FormMethod.Post))
            {
                <div class="row form-group">
                    <div class="col-md-2">
                        <label>Cantidad de Registros</label>
                        <select class="form-control" id="cantidadRegistrosPorPagina" name="cantidadRegistrosPorPagina">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="0">Todos</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Cuenta Contable</label>
                        <select class="form-control" id="CuentaAuxiliar" name="CuentaAuxiliar">
                            <option>Selecciona</option>
                            @foreach (CuentaContableModel CtaAux in ViewBag.lstCtasCtes)
                            {
                              <option value="@CtaAux.CuentaContableModelID">@CtaAux.nombre</option>
                            } 
                        </select>
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Año</label>
                        <input type="number" class="form-control" name="Anio" id="Anio" value="" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="" class="control-label">Mes</label>
                        <select name="Mes" id="Mes" class="form-control">
                            <option value="0">Todos</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Rut</label>
                        <input type="text" class="form-control" id="Rut" name="Rut" maxlength="10" />
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Razon Social</label>
                        <input type="text" class="form-control" id="RazonSocial" name="RazonSocial" />
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Folio</label>
                        <input class="form-control" type="number" name="Folio" id="Folio" value="" />
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="text" class="form-control date" name="FechaInicio" id="FechaInicio" autocomplete="off" />
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="text" class="form-control date" name="FechaFin" id="FechaFin" autocomplete="off" />
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success centrar" id="Guardar" name="Guardar">Buscar</button>
                    </div>
                </div>
            }
            <div id="PagCtaCte" class="table-rep-plugin">
                <div class="table table-responsive">
                    <div class="panel-body" id="parshial" style="font-size:13px;">

                       
                        @{ List<string> lstNombresCtasAux = ParseExtensions.ObtieneLstAuxNombre(Model.LstCtasCorrientes);
                            List<string> lstRutCtasAux = ParseExtensions.ObtieneLstAuxRut(Model.LstCtasCorrientes);

                            decimal TotalDebe = 0;
                            decimal TotalHaber = 0;
                            decimal TotalSaldo = 0;

                            if (lstNombresCtasAux != null)
                            {
                                int correlativo = 1;
                                for (int i = 0; i < lstNombresCtasAux.Count(); i++)
                                {
                                    <table name="TablasCtas">

                                    </table>
                                    decimal TctaContDebe = 0;
                                    decimal TctaContHaber = 0;
                                    decimal TctaContSaldo = 0;
                                    for (int j = 0; j < lstRutCtasAux.Count(); j++)
                                    {

                                        <div name="tablaCta">
                                            <table class="table table-responsive table-striped table-bordered table-hover compact" id="dataTables" name="TheContent">

                                                <thead>
                                                    <tr>
                                                        <th colspan="11" class="FontSize">@lstNombresCtasAux[i]</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="11" class="FontSize">@lstRutCtasAux[j]</th>
                                                    </tr>
                                                    <tr>
                                                        <th class="FontSize">#</th>
                                                        <th class="FontSize">Rut</th>
                                                        <th class="FontSize">Nombre</th>
                                                        <th class="FontSize">Fecha</th>
                                                        <th class="FontSize">Num Doc</th>
                                                        <th class="FontSize">Comprobante</th>
                                                        <th class="FontSize">Documento</th>
                                                        <th class="FontSize">Vencim</th>
                                                        <th class="FontSize">Debe</th>
                                                        <th class="FontSize">Haber</th>
                                                        <th class="FontSize">Saldo</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @{
                                                       
                                                        decimal Haber = 0;
                                                        decimal Debe = 0;
                                                    }

                                                    @foreach (var ItemCtaCorriente in Model.LstCtasCorrientes)
                                                    {
                                                        string FormatoCtaContable = "[" + ItemCtaCorriente.CuentaContable.CodInterno + "]" + " " + ItemCtaCorriente.CuentaContable.nombre;
                                                        if (FormatoCtaContable == lstNombresCtasAux[i] && ItemCtaCorriente.RutPrestador == lstRutCtasAux[j])
                                                        {

                                                            <tr>
                                                                <td>@correlativo</td>
                                                                <td>@ItemCtaCorriente.RutPrestador</td>
                                                                <td>@ItemCtaCorriente.NombrePrestador</td>
                                                                <td>@ParseExtensions.ToDD_MM_AAAA(ItemCtaCorriente.Fecha)</td>
                                                                <td>@ItemCtaCorriente.Folio</td>
                                                                <td>@ItemCtaCorriente.Comprobante</td>
                                                                <td>@ItemCtaCorriente.Documento</td>
                                                                <td></td>
                                                                <td name="debe">
                                                                    @{Debe += ItemCtaCorriente.Debe;}
                                                                    @{TctaContDebe += ItemCtaCorriente.Debe;}
                                                                    @ParseExtensions.NumeroConPuntosDeMiles(ItemCtaCorriente.Debe)
                                                                </td>

                                                                <td name="haber">
                                                                    @{Haber += ItemCtaCorriente.Haber;}
                                                                    @{TctaContHaber += ItemCtaCorriente.Haber;}
                                                                    @ParseExtensions.NumeroConPuntosDeMiles(ItemCtaCorriente.Haber)
                                                                </td>

                                                                <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemCtaCorriente.Saldo)</td>

                                                            </tr>       
                                                         correlativo++;
                                                        }

                                                    }
                                                    <tr class="FooterTable">
                                                        <td class="FontSize text-center" colspan="7"></td>
                                                        <td class="FontSize text-right"><b>TOTAL</b></td>
                                                        <td class="FontSize text-right debe"><b>@ParseExtensions.NumeroConPuntosDeMiles(Debe)</b></td>
                                                        <td class="FontSize text-right haber"><b>@ParseExtensions.NumeroConPuntosDeMiles(Haber)</b></td>
                                                        @{decimal total = Haber - Debe;}
                                                        <td class="FontSize text-right"><b>@ParseExtensions.NumeroConPuntosDeMiles(Math.Abs(total))</b></td>
                                                        @{
                                                            TotalHaber += Haber;
                                                            TotalDebe += Debe;
                                                            TotalSaldo += total;
                                                        }
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                       
                                                }
                                                if (TctaContDebe > 0 || TctaContHaber > 0)
                                                {

                                                    <table name="TotalCtasContables" class="table table-responsive table-bordered table-hover" id="dataTables-example">
                                                        <thead>
                                                            <tr>
                                                                <th class="FontSize text-center">-</th>
                                                                <th class="FontSize text-center">TOTAL CTA CONTABLE</th>
                                                                <th class="FontSize text-center">DEBE</th>
                                                                <th class="FontSize text-center">HABER</th>
                                                                <th class="FontSize text-center">SALDO</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td colspan="2" class="FontSize text-center"><b>@lstNombresCtasAux[i]</b> </td>
                                                                <td class="FontSize text-center"><b>@ParseExtensions.NumeroConPuntosDeMiles(TctaContDebe)</b></td>
                                                                <td class="FontSize text-center"><b>@ParseExtensions.NumeroConPuntosDeMiles(TctaContHaber)</b></td>
                                                                @{TctaContSaldo = TctaContHaber - TctaContDebe;}
                                                                <td class="FontSize text-center"><b>@ParseExtensions.NumeroConPuntosDeMiles(TctaContSaldo)</b></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <br />

                                                   }
                                                }
                                            }

                                        <table id="TotalFinalCtasCtes" class="table table-responsive table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="FontSize text-center">-</th>
                                                    <th class="FontSize text-center">TOTAL FINAL</th>
                                                    <th class="FontSize text-center">DEBE</th>
                                                    <th class="FontSize text-center">HABER</th>
                                                    <th class="FontSize text-center">SALDO</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                        <td colspan="2" class="FontSize text-center"><b>TOTAL FINAL</b></td>
                                                        <td class="FontSize text-center"><b>@ParseExtensions.NumeroConPuntosDeMiles(TotalDebe)</b></td>
                                                        <td class="FontSize text-center"><b>@ParseExtensions.NumeroConPuntosDeMiles(TotalHaber)</b></td>
                                                        <td class="FontSize text-center"><b>@ParseExtensions.NumeroConPuntosDeMiles(TotalSaldo)</b></td>
                                                    </tr>
                                            </tbody>
                                        </table>
                        }
                        @{Html.RenderPartial("_paginador", Model); }
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .centrar{
        margin-top:25px;
    }
    .Esconder{
        display: none;
    }
</style>

<script src="~/Content/js/jspdf.debug.js"></script>
<script src="~/Content/js/html2pdf.js"></script>
<script src="~/Content/js/html2canvas.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.5.6/dist/jspdf.plugin.autotable.js"></script>

<script>

    VerificarSiSePinta();

    function VerificarSiSePinta() {

      
        let divTable = document.getElementsByName('tablaCta');
        let trFooter = [];
        let tdsDebeHaber = [];

        for (var i = 0; i < divTable.length; i++) {
            trFooter.push(divTable[i].querySelectorAll('tr.FooterTable'));
        }
        for (var i = 0; i < trFooter.length; i++) {
            tdsDebeHaber.push(trFooter[i][0].querySelectorAll('td.debe, td.haber'));
        }
        for (var i = 0; i < tdsDebeHaber.length; i++) {
            if (tdsDebeHaber[i][0].textContent == "0" && tdsDebeHaber[i][1].textContent == "0") {
                divTable[i].classList.add('Esconder');
            }
        }

    }


    function ExportarPDF() {

        var doc = new jsPDF();
            
        let Tablas = document.getElementsByName('TheContent');

        for (var i = 0; i < Tablas.length; i++) {
            if (Tablas[i].parentElement.classList != "Esconder") {
                doc.autoTable({
                    html: Tablas[i],
                    styles: { fontSize: 8 }
                });
            }
        }
        
        let TotalCtasContables = document.getElementsByName('TotalCtasContables');

        for (var i = 0; i < TotalCtasContables.length; i++) {
            doc.autoTable({ html: TotalCtasContables[i], theme:'grid' });
        }

        let TotalFinal = document.getElementById('TotalFinalCtasCtes');
        
        doc.autoTable({
            html: TotalFinal, styles:{fillColor:[23, 32, 42]}
        });
       
        doc.save('Estado de cuentas corrientes.pdf');

    }


</script>