@model List<AuxPendientesViewModel>

<br />
<br />
<div class="row">
    <div class="table table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Rut</th>
                    <th>Razon Social</th>
                    <th>Saldo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @{ int Corr = 0; }
                @foreach (AuxPendientesViewModel itemPendiente in Model)
                {
                    Corr++;
                    <tr>
                        <td>@Corr</td>
                        <td>@itemPendiente.Rut</td>
                        <td>@itemPendiente.RazonSocial</td>
                        <td>@ParseExtensions.NumeroConPuntosDeMiles(itemPendiente.Saldo)</td>
                        <td>
                            <button class="btn btn-success">Pagar Completo</button>
                            <a href="@Url.Action("PendientesAuxDetalle","ContabilidadAuxiliares", new { IdAux = itemPendiente.Id })" class="btn btn-primary">Ver detalle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>