@model IList<string[]>




<br />



<!-- Page-Title -->
<div class="row">

    <div class="col-sm-12">
        <div class="page-header-2">
            <div class="row container">
                <div class="col-md-8"></div>
                    <div class="col-md-2">
                        <div class="pull-right">
                            <br />
                            <button class="btn btn-default" onclick="ExportarPDF()">
                                <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>Exportar PDF
                            </button>
                            <br />
                            <br />
                        </div>
                    </div>

                <div class="col-md-2">
                    @using (Html.BeginForm("GetExcelBalanceGeneral", "Contabilidad", FormMethod.Post))
                    {
                        <div>
                            <br />
                            <button class="btn btn-success waves-effect waves-light pull-right" value="Exportar" name="Save" type="submit" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" data-overlayColor="#36404a">
                                <span class="btn-label"><i class="fa fa-file-excel-o"></i></span>Exportar
                            </button>
                            <br />
                        </div>
                        <br />
                    }
                </div>

            </div>
            <h2 class="page-header">Balance General</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Contabilidad Reportes</a>
                </li>
                <li>
                    <a href="#">-</a>
                </li>
                <li class="active">
                    Balance General
                </li>
            </ol>
        </div>
    </div>
</div>


<div>
    <div class="row form-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Año</label>
                        <input type="text" class="form-control" name="AnioBalance" id="AnioBalance" value="@DateTime.Now.Year.ToString()" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="" class="control-label">Mes:</label>
                        <select name="MesBalance" id="MesBalance" class="form-control">
                            <option value="">Todos</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <input type="text" class="form-control date" name="fechainicio" id="fechainicio" />
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Fecha Fin</label>
                        <input type="text" class="form-control date" name="fechafin" id="fechafin" />
                    </div>
                    <div class="col-lg-2 form-group">
                        <label>Centro de Costos</label>
                        <select class="form-control" id="CentroDeCostoID" name="CentroDeCostoID">
                            <option>Selecciona</option>
                            @foreach (var itemCC in ViewBag.lstCentroDeCostos)
                            {
                                <option value="@itemCC.CentroCostoModelID">@itemCC.Nombre</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-2 form-group">
                        <button class="btn btn-success centrar" id="Buscar">Buscar</button>
                    </div>
                </div>
            </div>

            <div id="detalleCta" class="modal fade" tabindex="-1" role="dialog" >
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Movimientos de esta cuenta</h4>
                        </div>
                        <div class="table table-responsive modal-body compact letra-pequenia" id="tabla-detalle">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr id="tituloCtaCont"></tr>
                                        <tr>
                                            <th>#</th>
                                            <th>Fecha Contabilización</th>
                                            <th>Comprobante</th>
                                            <th>Glosa</th>
                                            <th>Razon Social</th>
                                            <th>Rut</th>
                                            <th>Debe</th>
                                            <th>Haber</th>
                                            <th>Saldo</th>
                                        </tr>
                                    </thead>
                                    <tbody id="contenido-tabla">
                                       
                                    </tbody>
                                </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="panel-body" id="parshial">
                @if (Model.Count() == 3)
                {
                    <div class="alert alert-danger" role="alert">
                        No se encontraron registros.
                    </div>
                }else { 
                @Html.Partial("BalanceGeneralPartial", Model)
                }
            </div>
        </div>
    </div>
</div>

<style>
    .centrar {
        margin-top: 25px;
    }
    .letra-pequenia{
        font-size:1.2rem;
    }
    .esconder {
        display:none;
    }
</style>

<script src="~/Content/js/jspdf.debug.js"></script>
<script src="~/Content/js/html2pdf.js"></script>
<script src="~/Content/js/html2canvas.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.5.6/dist/jspdf.plugin.autotable.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        GuardarUltimaBusqueda();

        $('#Buscar').on("click", function () {

            $('#parshial').html('<div class="row" id="carga"><center><b>Cargando...</b></center></div>');

            filtrar();
            GuardarUltimaBusqueda();
        });


        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '<Ant',
            nextText: 'Sig>',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd-mm-yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
        $("#fechainicio").datepicker();
        $("#fechafin").datepicker();

    });

    function filtrar()
    {
        const Anio = $('#AnioBalance').val();
        const Mes = $('#MesBalance').val();

        const fechaInicio = $('#fechainicio').val();
        const fechaFin = $('#fechafin').val();
        const centroCosto = $('#CentroDeCostoID').val();
        $.ajax
        ({
            url: "BalanceGeneralPartial?FechaInicio=" + fechaInicio + "&FechaFin=" + fechaFin + "&Anio=" + Anio + "&Mes=" + Mes + "&CentroDeCostoID=" + centroCosto,
            success: function (html)
            {
                $("#parshial").html(html);
                console.log(html);
            }
        });
    }

    const GuardarUltimaBusqueda = () => {

        const anio = document.getElementById('AnioBalance').value;
        const mes = document.getElementById('MesBalance').value;
        const fechaInicio = document.getElementById('fechainicio').value;
        const fechaFin = document.getElementById('fechafin').value;

        //Meter todo en un LocalStorage
        let BusquedaActiva = {
            Anio: anio,
            Mes: mes,
            FechaInicio: fechaInicio,
            FechaFin: fechaFin
        }

        localStorage.setItem("Busqueda", JSON.stringify(BusquedaActiva))
    }

    const ObtenerUltimaBusqueda = () => {
        if (localStorage.getItem("Busqueda")) {
            const BusquedaActiva = JSON.parse(localStorage.getItem("Busqueda"));
            return BusquedaActiva;
        }
    }

    const GenerarBusquedaLibroMayor = (idCuentaCont) => {

        const UltimaBusquedaOdefault = ObtenerUltimaBusqueda();
        
        const ctaContId = idCuentaCont;
        const anio = UltimaBusquedaOdefault.Anio;
        const mes = UltimaBusquedaOdefault.Mes;
        const fechaInicio = UltimaBusquedaOdefault.FechaInicio;
        const fechaFin = UltimaBusquedaOdefault.FechaFin;

        $.ajax({
            type:"POST",
            url:"@Url.Action("LibroMayorDesdeBalance", "Contabilidad")",
            data: { Anio: anio, Mes: mes, fechaInicio: fechaInicio, fechaFin: fechaFin, CuentaContableID: ctaContId },
            success: function (result) {
                $('#detalleCta').modal("show");

                lstDetalleCta = {
                    filaCtaDetalle:[]
                }

                debugger;
                for (var i = 0; i < result.length; i++) {

                    detalleCtaObject = {
                            correlativo: result[i][0],
                            fechaContabilizacion: result[i][1],
                            comprobante: result[i][2],
                            glosa: result[i][3],
                            razonSocial: result[i][4],
                            rut: result[i][5],
                            debe: result[i][6],
                            haber: result[i][7],
                            saldo: result[i][8],
                            cuentaContable: result[i][9],
                            numVoucher: result[i][10],
                            idVoucher: result[i][11]
                    }

                    lstDetalleCta.filaCtaDetalle.push(detalleCtaObject);
                }

                const cuentaContable ='<th colspan="4">' + result[0][9] + '</th>';
                $('#tituloCtaCont').html(cuentaContable);

                const ContenidoTablas = [];
                for (var i = 0; i < lstDetalleCta.filaCtaDetalle.length; i++) {

                    const tablaHtml = `<tr>
                                        <td>${lstDetalleCta.filaCtaDetalle[i].correlativo}</td>
                                        <td>${lstDetalleCta.filaCtaDetalle[i].fechaContabilizacion}</td>
                                        <td><a href="/Contabilidad/IngresoVoucher?IDVoucher=${lstDetalleCta.filaCtaDetalle[i].idVoucher}" target="_blank" class="label label-table label-primary">${lstDetalleCta.filaCtaDetalle[i].comprobante}</a></td>
                                        <td>${lstDetalleCta.filaCtaDetalle[i].glosa}</td>
                                        <td>${lstDetalleCta.filaCtaDetalle[i].razonSocial}</td>
                                        <td>${lstDetalleCta.filaCtaDetalle[i].rut}</td>
                                        <td>${lstDetalleCta.filaCtaDetalle[i].debe}</td>
                                        <td>${lstDetalleCta.filaCtaDetalle[i].haber}</td>
                                        <td>${lstDetalleCta.filaCtaDetalle[i].saldo}</td>
                                     </tr>`

                    ContenidoTablas.push(tablaHtml);
                }
                $('#contenido-tabla').html(ContenidoTablas);
            }
         });
    }

    const ExportarPDF = () => {
        var doc = new jsPDF();
        let tbBalance = document.getElementById("dataTables-example");
        let tbFirma = document.getElementById("tbFirma");

        doc.autoTable({ html: tbBalance, theme: 'grid', styles: { fontSize: 7} });
        doc.autoTable({ html: tbFirma, theme: 'plain', styles: { fontSize: 7 } });
        doc.save('Balance General.pdf');
    }
</script>