
@{
    ViewBag.Title = "CargarLibrosHonorarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<!-- Page-Title -->
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="page-header-2">
            <div class="col-md-6">
                <h2 class="page-header">Cargar Libros de Honorarios</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Contabilidad</a>
                    </li>
                    <li>
                        <a href="#">-</a>
                    </li>
                    <li class="active">
                        Cargar Libros
                    </li>
                </ol>
      
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <a href="@Url.Action("CargarLibrosHonorTerceros","Contabilidad")" class="btn btn-warning">Cargar Honorarios de Terceros</a>
                </div>
            </div>
        </div>
    </div>
</div>


<form id="Ficheros" enctype="multipart/form-data">
    <div class="col-m4-4">
        <div class="row form-group">

            <div class="col-md-4">
                <label>Establezca una fecha de contabilización*</label>
                <div class='input-group date '>
                    <input  type="text" id="fecont" name="fecont" value="" placeholder="Ingresa una fecha de contabilización" class="form-control anotherSelector" autocomplete="off" required />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                @*<input type="text" id="fecont" name="fecont" value="" placeholder="Ingresa una fecha de contabilización" class="form-control form_datetime" autocomplete="off" required />*@

            </div>
        </div>
    </div>

    <br>
    <div class="panel panel-cert">
        <div class="panel-heading">
            Importar CSV SII
        </div>
        <div class="panel-body">
            <div id="datos" class="row">



                <div class="col-md-8">
                    <label class="control-label" for="caf">Cargar .CSV o .XLS</label>
                    <input name="files" id="files" type="file">
                </div>
     
                <div class="col-md-4" style="text-align: center;">
                    <input class="btn btn-success redondo btnPress" value="Leer" name="Save" type="submit" />
                </div>

                    <div id="Tabla"></div>
                    <button type="submit" id="importa" class="btn btn-success" style="display:none;"> Importar </button>
                
            </div>
            <br />
            <br />


            <div class="row" id="carga" style="display:none;">
                <center> <img src="~/Content/images/gif-load.gif" /> <br /> <br /> <b>Cargando...</b> </center>
            </div>
        </div>
    </div>
</form>



 <script>

       


        $('#Ficheros').submit(function () {
            event.preventDefault();
            $.ajax({
                type:"POST",
                url: "@Url.Action("ImportarLibrosSIIHonorarios","Contabilidad")",
                data: new FormData(this),
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                        $('#Tabla').html(data.TablaHonorarios);
                        var TablaDeHonorarios = document.getElementsByTagName('table');
                        TablaDeHonorarios[0].setAttribute("id", "TablaHonorariosSII");
                        $('#importa').removeAttr('style');

                        var TablaHonorariosSelected = document.getElementById("TablaHonorariosSII");
                        TablaHonorariosSelected.firstChild.setAttribute("id","CuerpoDeLaTabla");

                        var CuerpoTabla = document.getElementById("CuerpoDeLaTabla");

                        var TodosLosHijos = CuerpoTabla.children;

                        for (var i = 3; i < TodosLosHijos.length; i++) {
                            var TodasLasFilas = TodosLosHijos[i].setAttribute("id", "DetalleFila");
                        }

                        var Nietos = CuerpoTabla.querySelectorAll("#TablaHonorariosSII tr");

                        var ArrayTest = [];
                        Nietos.forEach(function (PadreTR,indice) {
                            //console.log("indice = ", indice, "Valor = ", PadreTR);
                            ArrayTest.push(PadreTR);

                        });

                        var ArrayChildren = [];
                        ArrayTest.forEach(function (Hijo, indice) {
                            ArrayChildren.push(Hijo.children);

                        });

                        var Ultimo = ArrayChildren.length;
                        var RescatarArray = [];
                        for (var i = 3; i < ArrayChildren.length - 1; i++) {
                            var ArrayPadre = [];
                            for (var j = 0; j < ArrayChildren[i].length; j++) {

                                    ArrayPadre.push(ArrayChildren[i][j].textContent);
                            }
                            RescatarArray.push(ArrayPadre);
                        }
                        RescatarArray.push($('#fecont').val());


                        $('#importa').on('click', function () {
                            MandarDatosLimpios(RescatarArray);
                        });
                }
            });
        });


        function MandarDatosLimpios(ContenidoLimpio) {
            var valores = ContenidoLimpio;
            $.ajax({
                type:"POST",
                url: "@Url.Action("ProcesarLibrosHonorarios", "Contabilidad")",
                data: JSON.stringify(valores),
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if(data == true){
                        window.location = "@Url.Action("VistaPreviaLibroHonorario","Contabilidad")";
                    } else {
                        window.location = "@Url.Action("CargarLibrosHonorarios", "Contabilidad")";
                    }
                }
            });
        }

    </script>


