@model PaginadorModel

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right margen">
            <div class="button-list col-lg-12">
                <div class="col-lg-12">
                    @using (Html.BeginForm("GetExcelCatorceTer", "Contabilidad", FormMethod.Post))
                    {
                        @Html.BtnExportar("", "Save")
                    }
                </div>
            </div>
        </div>   

            <div class="page-header-2">
                <h2 class="page-header">CatorceTer</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Contabilidad Reportes</a>
                    </li>
                    <li>
                        <a href="#">-</a>
                    </li>
                    <li class="active">
                        CatorceTer
                    </li>
                </ol>
            </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="card-box">
            @using (Html.BeginForm("CatorceTer", "Contabilidad", FormMethod.Post))
            {
                <div class="row form-group">
                    <div class="col-lg-2 col-md-3 col-sm-4 form-group">
                        <label>Cantidad de Registros</label>
                        <select class="form-control" id="cantidadRegistrosPorPagina" name="cantidadRegistrosPorPagina">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="0">Todos</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-2 form-group">
                        <label class="control-label">Año</label>
                        <input type="text" class="form-control" name="Anio" id="Anio" value="" />
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 form-group">
                        <label for="" class="control-label">Mes</label>
                        <select name="Mes" id="Mes" class="form-control">
                            <option value="0">Todos</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 form-group">
                        <label class="control-label">Rut</label>
                        <input type="text" class="form-control" id="Rut" name="Rut" maxlength="10" />
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                        <label class="control-label">Razon Social</label>
                        <input type="text" class="form-control" id="RazonSocial" name="RazonSocial" />
                    </div>
                    <div class="col-lg-2 form-group" style="display:none;">
                        <label class="control-label">Rut Inicio</label>
                        <input type="text" class="form-control" name="rutinicio" id="rutinicio" />
                    </div>
                    <div class="col-lg-2 form-group" style="display:none;">
                        <label class="control-label">Rut Fin</label>
                        <input type="text" class="form-control" name="rutfin" id="rutfin" />
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6 form-group">
                        <label class="control-label">Folio</label>
                        <input class="form-control" type="number" name="Folio" id="Folio" value="" />
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <div class='input-group date '>
                            <input type='text' name="FechaInicio" id="FechaInicio" value="" class="form-control anotherSelector" autocomplete="off" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 form-group">
                        <label class="control-label">Fecha Fin</label>
                        <div class='input-group date '>
                            <input type='text' name="FechaFin" id="FechaFin" value="" class="form-control anotherSelector" autocomplete="off" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 form-group">
                        @Html.BtnBuscar("Guardar","Guardar","centrar","")
                    </div>
                </div>
            }
            <div class="table-rep-plugin">
                    <div class="panel-body" id="parshial" style="font-size:13px;">

                        @if (Model.LstCatorceTer.Count() > 0)
                        {
                        <div class="table-responsive">
                            <table class="table table-responsive table-striped table-bordered table-hover compact" id="dataTables">
                                <thead>
                                    <tr>
                                        <th class="FontSize">#</th>
                                        <th class="FontSize">Fecha</th>
                                        <th class="FontSize">Tipo</th>
                                        <th class="FontSize">Tipo Documento</th>
                                        <th class="FontSize">Folio </th>
                                        <th class="FontSize">Proveedor o Cliente</th>
                                        <th class="FontSize">Rut</th>
                                        <th class="FontSize">Ingreso</th>
                                        <th class="FontSize">Egreso</th>
                                        <th class="FontSize">Cuenta Contable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        int Correlativo = 1;
                                        foreach (var ItemCatorceTer in Model.LstCatorceTer)
                                        {

                                            <tr class="odd gradeX">
                                                @if (ItemCatorceTer.TotalIngreso > 0 || ItemCatorceTer.TotalEgreso > 0)
                                                {
                                                    <td colspan="6"></td>
                                                    <td><strong>Total:</strong></td>
                                                    <td><strong>@ParseExtensions.NumeroConPuntosDeMiles(ItemCatorceTer.TotalIngreso)</strong></td>
                                                    <td><strong>@ParseExtensions.NumeroConPuntosDeMiles(ItemCatorceTer.TotalEgreso)</strong></td>
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td>@Correlativo</td>
                                                    <td>@ItemCatorceTer.Fecha.ToString("dd-MM-yyyy")</td>
                                                    <td>@ItemCatorceTer.TipoLibro</td>
                                                    if (ItemCatorceTer.TipoDocumento != 0)
                                                    {
                                                        <td>@ParseExtensions.EnumGetDisplayAttrib(ItemCatorceTer.TipoDocumento)</td>
                                                    }
                                                    else
                                                    {
                                                        <td>Otros</td>
                                                    }
                                                    <td>@ItemCatorceTer.Folio</td>
                                                    <td>@ItemCatorceTer.NombreReceptor</td>
                                                    <td>@ItemCatorceTer.RutReceptor</td>
                                                    <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemCatorceTer.Ingreso)</td>
                                                    <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemCatorceTer.Egreso)</td>
                                                    <td>@ItemCatorceTer.CuentaContable</td>
                                                    Correlativo++;
                                                }
                                            </tr>
                                        }


                                    }

                                </tbody>
                            </table>
                        </div>
                        }
                        @{Html.RenderPartial("_paginador", Model); }
                    </div>
            </div>
   
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="~/Content/css/Contabilidad/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="~/Content/js/Contabilidad/jquery.dataTables.js"></script>
<link href="~/Content/css/Contabilidad/CatorceTer.css" rel="stylesheet" />

<script>

    $(document).ready(function () {
        $("#libroTitle").text("@ViewBag.AnioFrontEnd");

        CondicionesParaLimpiar();
        ObtenerInputs();
        GuardarSeleccionado();
        ObtenerSeleccionado();
    });

    function CondicionesParaLimpiar() {
        //Eliminamos la memoria de los Storage solo si se recarga la página sin realizar ninguna busqueda.
        var Click = false;
        $('#Guardar').on("click", function () {
            Click = true;
        });
        $('#Paginador li').on("click", function () {
            Click = true;
        });
        $(window).on("beforeunload", function () {
            if (Click == false) {
                localStorage.removeItem("MesAguardar");
                localStorage.removeItem("CantidadDeRegistros");
                localStorage.removeItem("CuentaContable");
                localStorage.removeItem("RazonSocialAGuardar");
                localStorage.removeItem("AnioAGuardar");
                localStorage.removeItem("FechaInicioAGuardar");
                localStorage.removeItem("FechaFinAGuardar");
                localStorage.removeItem("RutAGuardar");
            }
        });
    }


    function GuardarSeleccionado() {
        var MesSeleccionado = $("#Mes option:selected").text();
        $('#Mes').on('change', function () {
            MesSeleccionado = $("#Mes option:selected").text();
            $('#Guardar').on('click', function () {
                localStorage.setItem("MesAguardar", MesSeleccionado);
            });
        });

        var CantRegistrosSelect = $('#cantidadRegistrosPorPagina option:selected').text();
        $('#cantidadRegistrosPorPagina').on('change', function () {
            CantRegistrosSelect = $('#cantidadRegistrosPorPagina option:selected').text();
            $('#Guardar').on('click', function () {
                localStorage.setItem("CantidadDeRegistros", CantRegistrosSelect);
            });
        });
    }

    function ObtenerSeleccionado() {
        $('#Mes option').each(function () {
            let valorSeleccionado = $(this).text();
            var ObtenerMesSeleccionado = localStorage.getItem("MesAguardar");

            if (ObtenerMesSeleccionado == valorSeleccionado) {
                let AñadirAtributo = $(this).attr("selected", "selected");
            }
        });

        $('#cantidadRegistrosPorPagina option').each(function () {
            let valorSeleccionado = $(this).text();
            var ObtenerCantidadRegistros = localStorage.getItem("CantidadDeRegistros");

            if (ObtenerCantidadRegistros == valorSeleccionado) {
                let AñadirAtributo = $(this).attr("selected", "selected");
            }
        });
    }

    function ObtenerInputs() {

        var RazonSocial = document.getElementById("RazonSocial");
        var Anio = document.getElementById("Anio");
        var FechaInicio = document.getElementById("FechaInicio");
        var FechaFin = document.getElementById("FechaFin");
        var Rut = document.getElementById("Rut");

        $('#Guardar').on('click', function () {
            localStorage.setItem("AnioAGuardar", Anio.value);
            localStorage.setItem("RazonSocialAGuardar", RazonSocial.value);
            localStorage.setItem("FechaInicioAGuardar", FechaInicio.value);
            localStorage.setItem("FechaFinAGuardar", FechaFin.value);
            localStorage.setItem("RutAGuardar", Rut.value);
        });

        var ObtenerAnio = localStorage.getItem("AnioAGuardar");
        var ObtenerRazonSocial = localStorage.getItem("RazonSocialAGuardar");
        var ObtenerFechaInicio = localStorage.getItem("FechaInicioAGuardar");
        var ObtenerFechaFin = localStorage.getItem("FechaFinAGuardar");
        var ObtenerRut = localStorage.getItem("RutAGuardar");

        if (ObtenerAnio != null) {
            Anio.value = ObtenerAnio;
        }
        if (ObtenerRazonSocial != null) {
            RazonSocial.value = ObtenerRazonSocial;
        }
        if (ObtenerRut != null) {
            Rut.value = ObtenerRut;
        }
        if (ObtenerFechaInicio != null && ObtenerFechaFin != null) {
            FechaInicio.value = ObtenerFechaInicio;
            FechaFin.value = ObtenerFechaFin;
        }
    }

</script>


