@model IList<CuentaContableModel>
@{
    ViewBag.Title = "CtasContPresupuesto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNet.Identity;

<div class="clearfix"></div>
<form>
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header-2">
                <h2 class="page-header">Establecer Presupuesto de Plan de Cuentas</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Contabilidad</a>
                    </li>
                    <li>
                        <a href="#">-</a>
                    </li>
                    <li class="active">
                        Cuentas Contables
                    </li>
                </ol>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("CtasContPresupuesto", "Contabilidad", FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 form-group">
                <label class="control-label">Código:</label>
                <input type="number" class="form-control" name="codigo" id="codigo" value="@ViewBag.codigo" />
            </div>



            <div class="col-lg-2 col-md-4 col-sm-4 form-group">
                <label class="control-label">Nombre:</label>
                <input type="text" class="form-control" name="nombre" id="nombre" value="@ViewBag.nombre" />
            </div>


            <div class="col-lg-2 col-md-2 col-sm-3 form-group">
                <div style="text-align: center;">
                    <label class="control-label" style="color:transparent;"> _</label>
                    <button class="btn btn-1 btnPress form-control" type="submit"><i class="fa fa-search"></i> &nbsp; Buscar</button>
                </div>
            </div>
        </div>
    }
</form>
<!-- Fin Filtros -->


<div class="row m-t-10">
    <div class="col-sm-12">
        <div class="card-box">
            @using (Html.BeginForm("GuardarPresupuesto", "Contabilidad", FormMethod.Post))
            {





                <div class="row" id="Presupuesto">
                    <div class="form-group">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <label>Fecha Inicio Presupuesto</label>
                            <div class='input-group date '>
                                <input type="text" id="FechaInicio" name="FechaInicio" class="form-control anotherSelector" autocomplete="off" required />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-12">
                            <label>Fecha Vencimiento Presupuesto</label>
                            <div class='input-group date '>
                                <input type="text" id="FechaVencimiento" name="FechaVencimiento" class="form-control anotherSelector" autocomplete="off" required />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <label>Nombre Presupuesto</label>
                            <input type="text" class="form-control" id="NombrePresupuesto" name="NombrePresupuesto" required />
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <button type="submit" class="btn btn-success pull-left Guardar centrar">Guardar Cambios</button>
                        </div>
                    </div>
                </div>

                <div class="table-rep-plugin">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="CtaContableTable" class="table  table-striped">
                            <thead>
                                <tr>
                                    <th class="text-center">Codigo</th>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center" colspan="3">Clasificación</th>
                                    <th class="text-center">Tiene Presupuesto?</th>
                                    <th class="text-center">Establecer Presupuesto</th>

                                </tr>
                            </thead>
                            <tbody>

                                @{ int id = 0;}
                                @foreach (CuentaContableModel Cuenta in Model)
                                {

                                    <tr>
                                        @{id = Cuenta.CuentaContableModelID;}
                                        <td>@Cuenta.CodInterno</td>
                                        <td>@Cuenta.nombre</td>
                                        <td>@Cuenta.Clasificacion.ToString()</td>
                                        <td>@Cuenta.SubClasificacion.NombreInterno</td>
                                        <td>@Cuenta.SubSubClasificacion.NombreInterno</td>
                                        <td><input class="centro" type="checkbox" name="PresuCheck" id="PresuCheck_@id" onclick="CheckFunction(this,@id)" value="" /></td>
                                        <td><input class="form-control" type="number" name="Presupuesto" id="Presupuesto_@id" value="0" readonly /></td>
                                        <td style="display:none;"><input type="number" name="ctacontid" id="ctacontid" value="@Cuenta.CuentaContableModelID" /></td>
                                    </tr>
                                            }
                            </tbody>
                        </table>
                    </div>

                </div>
                                            }
        </div>
    </div>
</div>

<style>
    td {
        text-align: center;
    }

    .centrar {
        margin-top: 25px;
    }
</style>

<script>

    function CheckFunction(CheckSeleccionado, id) {

        var CheckBox = document.getElementById(CheckSeleccionado.id);
        var InputPresupuesto = document.getElementById("Presupuesto_"+id);

        if (CheckBox.checked == true) {
            InputPresupuesto.removeAttribute("readonly");
        } else {
            InputPresupuesto.setAttribute("readonly","readonly");
        }

    }

</script>