@model List<EstadoResultadoViewModel>
@{
    ViewBag.Title = "EstadoResultado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="row">
    <div class="col-sm-12">
        <div class="page-header-2">
            <div class="row container">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <div class="pull-right">
                        <br />
                        <button class="btn btn-default" onclick="ExportarPDF()">
                            <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>Exportar PDF
                        </button>
                        <br />
                        <br />
                    </div>
                </div>

            </div>
            <h2 class="page-header">Estado de Resultado</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Contabilidad Reportes</a>
                </li>
                <li>
                    <a href="#">-</a>
                </li>
                <li class="active">
                    Estado de Resultado
                </li>
            </ol>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                @using (Html.BeginForm("EstadoResultado", "Contabilidad", FormMethod.Post))
                {
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Año</label>
                        <input type="number" class="form-control" name="Anio" id="Anio" value="@DateTime.Now.Year" />
                    </div>
                    <div class="col-md-2 form-group">
                        <label for="" class="control-label">Mes:</label>
                        <select name="Mes" id="Mes" class="form-control">
                            <option value="">Todos</option>
                            <option value="1">Enero</option>
                            <option value="2">Febrero</option>
                            <option value="3">Marzo</option>
                            <option value="4">Abril</option>
                            <option value="5">Mayo</option>
                            <option value="6">Junio</option>
                            <option value="7">Julio</option>
                            <option value="8">Agosto</option>
                            <option value="9">Septiembre</option>
                            <option value="10">Octubre</option>
                            <option value="11">Noviembre</option>
                            <option value="12">Diciembre</option>
                        </select>
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Fecha Inicio</label>
                        <div class='input-group date '>
                            <input type='text' name="FechaDesde" id="FechaDesde" class="form-control anotherSelector" autocomplete="off" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @*<input type="text" class="form-control date" name="FechaDesde" id="FechaDesde" />*@
                    </div>
                    <div class="col-lg-2 form-group">
                        <label class="control-label">Fecha Fin</label>
                        <div class='input-group date '>
                            <input type='text' name="FechaDesde" id="FechaDesde" class="form-control anotherSelector" autocomplete="off" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        @*<input type="text" class="form-control date" name="FechaHasta" id="FechaHasta" />*@
                    </div>
                    @*<div class="col-lg-2 form-group">
                    <label>Centro de Costos</label>
                    <select class="form-control" id="CentroDeCostoID" name="CentroDeCostoID">
                        <option>Selecciona</option>
                        @foreach (var itemCC in ViewBag.lstCentroDeCostos)
                        {
                            <option value="@itemCC.CentroCostoModelID">@itemCC.Nombre</option>
                        }
                    </select>
                </div>*@
                    <div class="col-lg-2 form-group">
                        <button type="submit" class="btn btn-success centrar" id="Buscar">Buscar</button>
                    </div>

                }
            </div>


        </div>
        <div class="table table-reponsive">
            <table class="table table-striped table-bordered table-hover" id="tbEstadoResultado">
                <thead> 
                    <tr>
                        <th colspan="4">ESTADO DE RESULTADOS</th>
                    </tr>
                    <tr>
                        <th>CÓDIGO</th>
                        <th>NOMBRE</th>
                        <th>PERDIDAS</th>
                        <th>GANANCIAS</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EstadoResultadoViewModel ItemEstadoResultado in Model)
                    {
                        <tr>
                            <td>@ItemEstadoResultado.CodigoInterno</td>
                            <td>@ItemEstadoResultado.Nombre</td>
                            @if (ItemEstadoResultado.Clasificacion == ClasificacionCtaContable.RESULTADOGANANCIA)
                            {
                                <td></td>
                                <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemEstadoResultado.Monto)</td>   
                            }
                            @if (ItemEstadoResultado.Clasificacion == ClasificacionCtaContable.RESULTADOPERDIDA)
                            {
                                <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemEstadoResultado.Monto)</td>
                                <td></td>
                            }
                        </tr>
                    }
                    <tr>
                        <td></td>
                        <td><strong>SUMAS</strong></td>
                        <td>@ParseExtensions.NumeroConPuntosDeMiles(ViewBag.TotalPerdidas)</td>
                        <td>@ParseExtensions.NumeroConPuntosDeMiles(ViewBag.TotalGanancias)</td>
                    </tr>
                    @if (ViewBag.Resultado == "RESULTADO GANANCIA")
                    {
                        <tr>
                            <td></td>
                            <td><strong>@ViewBag.Resultado</strong></td>
                            <td></td>
                            <td>@ViewBag.ResultadoMonto</td>
                        </tr>
                    }
                    else if (ViewBag.Resultado == "RESULTADO PERDIDA")
                    {
                        <tr>
                            <td></td>
                            <td><strong>@ViewBag.Resultado</strong></td>
                            <td></td>
                            <td>@ViewBag.ResultadoMonto</td>
                        </tr>
                    }

                    <tr>
                        <td></td>
                        <td><strong>TOTALES:</strong></td>
                        <td>@ViewBag.TotalesPerdidas</td>    
                        <td>@ViewBag.TotalesGanancias</td>
                    </tr>

                 
                
                
                </tbody>
            </table>

            <table id="tbFirma" class="esconder">

                    <tr>

                        <td>__________________________</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>__________________________</td>

                        
                    </tr>
                    <tr>
                        <td><strong>FIRMA CONTADOR</strong></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td><strong>FIRMA REP.LEGAL</strong></td>

                    </tr>
            </table>
        </div>
    </div>
</div>

<style>
    .centrar{
        margin-top:25px;
    }

    .esconder{
        display:none;
    }
</style>


<script src="~/Content/js/jspdf.debug.js"></script>
<script src="~/Content/js/html2pdf.js"></script>
<script src="~/Content/js/html2canvas.js"></script>
<script src="~/Content/js/Contabilidad/jspdf.plugin.autotable.js"></script>

<script>
    const ExportarPDF = () => {
        var doc = new jsPDF();

        let tbEstadoResultado = document.getElementById("tbEstadoResultado");
        let tbFirma = document.getElementById("tbFirma");
        doc.autoTable({ html: tbEstadoResultado, theme: 'grid' });
        doc.autoTable({ html: tbFirma, theme: 'plain' });

        doc.save('Estado de Resultados.pdf');
    }
</script>