@model List<LibroHonorariosDeTerceros>
<br />
<h2>Libro a Importar</h2>
<h3>Vista Previa</h3>


@using (Html.BeginForm("LibrosHonorTerceroAVoucher", "Contabilidad", FormMethod.Post, new { id = "FormImportarVoucher" }))
{
    <div class="table-rep-plugin">
        <div class="table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cuenta Contable</th>
                        <th>Num</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                        <th>Rut Empresa</th>
                        <th>Nombre Empresa</th>
                        <th>Fecha Receptor</th>
                        <th>Rut Receptor</th>
                        <th>Nombre Receptor</th>
                        <th>Brutos</th>
                        <th>Retenidos</th>
                        <th>Pagados</th>
                    </tr>
                </thead>
                <tbody>
                    @{int rowCount = 0;}
                    @for (int i = 0; i < Model.Count(); i++)
                {
                        @Html.HiddenFor(modelItem => Model[i].LibroHonorariosDeTercerosID);
                        <tr>
                            <td>
                                <select id="cuenta@(rowCount++)" name="cuenta" class="form-control" data-live-search="true" style="width:260px">
                                    @Html.Raw(ViewBag.HtmlStr)
                                </select>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].NumOFolio)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].Estado)
                            </td>
                            <td>
                                @Model[i].FechaInicial.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].RutEmpresa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].NombreEmpresa)
                            </td>
                            <td>
                                @Model[i].FechaFinal.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].RutReceptor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].NombreReceptor)
                            </td>
                            <td>
                                @ParseExtensions.NumeroConPuntosDeMiles(Model[i].Brutos)
                            </td>
                            <td>
                                @ParseExtensions.NumeroConPuntosDeMiles(Model[i].Retenidos)
                            </td>
                            <td>
                                @ParseExtensions.NumeroConPuntosDeMiles(Model[i].Pagado)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <button type="submit" class="btn btn-warning pull-right redondo btnPress">Importar</button>
                        }


<link href="~/Content/css/Contabilidad/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/Contabilidad/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('select').select2();
    });
</script>

