@model PaginadorModel

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <br />

        <div class="row container">
            <div class="col-md-8"></div>
            <div class="col-md-2">
                <div class="pull-right">
                    <br />
                    @*<button class="btn btn-default" onclick="ExportarPDF()">
                        <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>Exportar PDF
                    </button>*@
                    @Html.BtnExportarPDF("ExportarPDF()")
                    <br />
                    <br />
                </div>
            </div>

            <div class="col-md-2">
                @using (Html.BeginForm("GetExcelLibroDiario", "Contabilidad", FormMethod.Post))
                {
                    <div>
                        <br />
                        @*<button class="btn btn-success waves-effect waves-light pull-right" value="Exportar" name="Save" 
                                type="submit" data-animation="fadein" data-plugin="custommodal" data-overlaySpeed="200" 
                                data-overlayColor="#36404a">
                            <span class="btn-label"><i class="fa fa-file-excel-o"></i></span>Exportar
                        </button>*@

                        @Html.BtnExportar("","Save")
                        <br />
                    </div>
                    <br />
                }
            </div>

        </div>



        <div class="page-header-2">
            <h2 class="page-header">Libro Diario</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Contabilidad Reportes</a>
                </li>
                <li>
                    <a href="#">-</a>
                </li>
                <li class="active">
                    Libro Diario
                </li>
            </ol>
        </div>
    </div>
</div>


<div class="form-group">
    <div class="row">
        <div class="card-box">

            <div class="row form-group">
                @using (Html.BeginForm("LibroDiario", "Contabilidad", FormMethod.Post))
                {
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-2 form-group">
                                    <label class="control-label">Cantidad de Registros</label>
                                    <select class="form-control" id="cantidadRegistrosPorPagina" name="cantidadRegistrosPorPagina">
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="0">Todos</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 form-group">
                                    <label class="control-label">Año</label>
                                    <input type="text" class="form-control" name="Anio" id="Anio" value="" />
                                </div>
                                <div class="col-md-2 form-group">
                                    <label for="" class="control-label">Mes:</label>
                                    <select name="Mes" id="Mes" class="form-control">
                                        <option value="">Todos</option>
                                        <option value="1">Enero</option>
                                        <option value="2">Febrero</option>
                                        <option value="3">Marzo</option>
                                        <option value="4">Abril</option>
                                        <option value="5">Mayo</option>
                                        <option value="6">Junio</option>
                                        <option value="7">Julio</option>
                                        <option value="8">Agosto</option>
                                        <option value="9">Septiembre</option>
                                        <option value="10">Octubre</option>
                                        <option value="11">Noviembre</option>
                                        <option value="12">Diciembre</option>
                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label class="control-label">Cuenta Contable</label>
                                    <select class="form-control" name="CuentaContableID" id="CuentaContableID">
                                        @Html.Raw(ViewBag.HtmlStr)
                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label class="control-label">Glosa</label>
                                    <input class="form-control" type="text" name="Glosa" id="Glosa" value="" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-lg-2 form-group">
                                    <label class="control-label">Fecha Inicio</label>
                                    <div class='input-group date '>
                                        <input type='text' name="FechaInicio" id="FechaInicio" value="" class="form-control anotherSelector" autocomplete="off" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @*<input type="text" class="form-control date" name="FechaInicio" id="FechaInicio" autocomplete="off" value="" />*@
                                </div>
                                <div class="col-lg-2 form-group">
                                    <label class="control-label">Fecha Fin</label>
                                    <div class='input-group date'>
                                        <input type='text' name="FechaFin" id="FechaFin" value="" class="form-control anotherSelector" autocomplete="off" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    @*<input type="text" class="form-control date" name="FechaFin" id="FechaFin" autocomplete="off" value="" />*@
                                </div>
                                <div class="col-md-2 form-group">
                                    @*<button type="submit" id="Guardar" name="Guardar" class="btn btn-success centrar">Buscar</button>*@
                                    @Html.BtnBuscar("Guardar","Guardar","centrar","")
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @Html.Partial("~/Views/PartialHelpers/DatosClienteParaPDFPArtial.cshtml")
                <table id="LibroDiarioTitle" class="table esconder">
                    <thead>
                        <tr>
                            <th colspan="13">Libro Diario</th>
                        </tr>
                    </thead>
                </table>

                <div class="panel-body" id="parshial">
                    @if (Model.ResultStringArray.Count() == 0)
                    {
                        <div class="alert alert-danger" role="alert">
                            No se encontraron registros.
                        </div>
                    }
                    @if (Model.ResultStringArray.Count() > 0)
                    {
                        <table class="table table-responsive table-striped table-bordered table-hover" id="dataTables">
                            <thead>
                                <tr>
                                    <th class="FontSize text-center"></th>
                                    <th class="FontSize text-center">FECHA CONTABILIZACIÓN</th>
                                    <th class="FontSize text-center">COMPROBANTE</th>
                                    <th class="FontSize text-center">GLOSA</th>
                                    <th class="FontSize text-center">DEBE</th>
                                    <th class="FontSize text-center">HABER</th>
                                    <th class="FontSize text-center">C.CUENTA</th>
                                    <th class="FontSize text-center">CUENTA</th>
                                    <th class="FontSize text-center">CC</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (string[] rowThingie in Model.ResultStringArray)
                                {
                                    @:<tr class="odd gradeX">
                                        for (int i = 0; i < rowThingie.Length; i++)
                                        {
                                            string classAlign = "text-left";
                                            if (i == 1)
                                            {
                                                classAlign = "text-left nowrappls";
                                            }
                                            <td class="@classAlign">@rowThingie[i]</td>
                                        }
                                    @:</tr>
                                }
                            </tbody>
                        </table>
                    }
                    @{Html.RenderPartial("_paginador", Model);}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .centrar {
        margin-top: 25px;
    }
</style>

<link href="~/Content/css/Contabilidad/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/Contabilidad/select2.min.js"></script>

<script src="~/Content/js/jspdf.debug.js"></script>
<script src="~/Content/js/html2pdf.js"></script>
<script src="~/Content/js/html2canvas.js"></script>
<script src="~/Content/js/Contabilidad/jspdf.plugin.autotable.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $('#CuentaContableID').select2();
        $("#libroTitle").text("@ViewBag.AnioFrontEnd");
        // Para los select

        CondicionesParaLimpiar();
        GuardarSeleccionado();
        ObtenerSeleccionado();
        ObtenerInputs();


    });



    function CondicionesParaLimpiar() {
        //Eliminamos la memoria de los Storage solo si se recarga la página sin realizar ninguna busqueda.
        var Click = false;
        $('#Guardar').on("click", function () {
            Click = true;
        });
        $('#Paginador li').on("click", function () {
            Click = true;
        });
        $(window).on("beforeunload", function () {
            if (Click == false) {
                localStorage.removeItem("MesAguardar");
                localStorage.removeItem("CantidadDeRegistros");
                localStorage.removeItem("CuentaContable");
                localStorage.removeItem("GlosaAGuardar");
                localStorage.removeItem("AnioAGuardar");
                localStorage.removeItem("FechaInicioAGuardar");
                localStorage.removeItem("FechaFinAGuardar");
                localStorage.removeItem("RutAGuardar");
            }
        });
    }


    function GuardarSeleccionado() {
        var MesSeleccionado = $("#Mes option:selected").text();
        $('#Mes').on('change', function () {
            MesSeleccionado = $("#Mes option:selected").text();
            $('#Guardar').on('click', function () {
                localStorage.setItem("MesAguardar", MesSeleccionado);
            });
        });

        var CantRegistrosSelect = $('#cantidadRegistrosPorPagina option:selected').text();
        $('#cantidadRegistrosPorPagina').on('change', function () {
            CantRegistrosSelect = $('#cantidadRegistrosPorPagina option:selected').text();
            $('#Guardar').on('click', function () {
                localStorage.setItem("CantidadDeRegistros", CantRegistrosSelect);
            });
        });

        var CuentaContSelect = $('#CuentaContableID option:selected').text();
        $('#CuentaContableID').on('change', function () {
            CuentaContSelect = $('#CuentaContableID option:selected').text();
            $('#Guardar').on('click', function () {
                localStorage.setItem("CuentaContable", CuentaContSelect);
            });
        });
    }

    function ObtenerSeleccionado() {
        $('#Mes option').each(function () {
            let valorSeleccionado = $(this).text();
            var ObtenerMesSeleccionado = localStorage.getItem("MesAguardar");

            if (ObtenerMesSeleccionado == valorSeleccionado) {
                let AñadirAtributo = $(this).attr("selected", "selected");
            }
        });

        $('#cantidadRegistrosPorPagina option').each(function () {
            let valorSeleccionado = $(this).text();
            var ObtenerCantidadRegistros = localStorage.getItem("CantidadDeRegistros");

            if (ObtenerCantidadRegistros == valorSeleccionado) {
                let AñadirAtributo = $(this).attr("selected", "selected");
            }
        });

        $('#CuentaContableID option').each(function () {
            let valorSeleccionado = $(this).text();
            var ObtenerCuentaContable = localStorage.getItem("CuentaContable");

            if (ObtenerCuentaContable == valorSeleccionado) {
                let AñadirAtributo = $(this).attr("selected", "selected");
            }
        });
    }

    function ObtenerInputs() {

        var Glosa = document.getElementById("Glosa");
        var Anio = document.getElementById("Anio");
        var FechaInicio = document.getElementById("FechaInicio");
        var FechaFin = document.getElementById("FechaFin");
        //var Rut = document.getElementById("Rut");

        $('#Guardar').on('click', function () {
            localStorage.setItem("AnioAGuardar", Anio.value);
            localStorage.setItem("GlosaAGuardar", Glosa.value);
            localStorage.setItem("FechaInicioAGuardar", FechaInicio.value);
            localStorage.setItem("FechaFinAGuardar", FechaFin.value);
            //localStorage.setItem("RutAGuardar", Rut.value);
        });

        var ObtenerAnio = localStorage.getItem("AnioAGuardar");
        var ObtenerGlosa = localStorage.getItem("GlosaAGuardar");
        var ObtenerFechaInicio = localStorage.getItem("FechaInicioAGuardar");
        var ObtenerFechaFin = localStorage.getItem("FechaFinAGuardar");
        //var ObtenerRut = localStorage.getItem("RutAGuardar");

        if (ObtenerAnio != null) {
            Anio.value = ObtenerAnio;
        }
        if (ObtenerGlosa != null) {
            Glosa.value = ObtenerGlosa;
        }
        //if (ObtenerRut != null) {
        //    Rut.value = ObtenerRut;
        //}
        if (ObtenerFechaInicio != null && ObtenerFechaFin != null) {
            FechaInicio.value = ObtenerFechaInicio;
            FechaFin.value = ObtenerFechaFin;
        }
    }

    const ExportarPDF = () => {
        var doc = new jsPDF();
        let tbLibroDiario = document.getElementById("dataTables");
        let tbDatosClientes = document.getElementById("datosCliente");
        let tbFirma = document.getElementById("tbFirma");
        let tbTitle = document.getElementById("LibroDiarioTitle");

        doc.autoTable({ html: tbTitle, theme: 'plain', styles: { fontSize: 20 } });
        doc.autoTable({ html: tbDatosClientes, theme: 'plain', styles: { fontSize: 7 } });
        doc.autoTable({ html: tbLibroDiario, theme: 'grid', styles: { fontSize: 7 } });
        doc.autoTable({ html: tbFirma, theme: 'plain', styles: { fontSize: 7 } });
        doc.save('Libro Diario.pdf');
    }

</script>

@*@Scripts.Render("~/bundles/TablasContJS")*@