@model List<LibroDeHonorariosModel>
<br />
<h2>Libro a Importar</h2>
<h3>Vista Previa</h3>


@using (Html.BeginForm("ImportarLibroHonorAVoucher", "Contabilidad", FormMethod.Post, new { id = "FormImportarVoucher" }))
{
    <div class="table-rep-plugin">
        <div class="table table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Cuenta Contable</th>
                        <th>Num</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Fecha Anulación</th>
                        <th>Rut</th>
                        <th>Razon Social</th>
                        <th>Brutos</th>
                        <th>Retencion</th>
                        <th>Pagado</th>
                    </tr>
                </thead>
                <tbody>
                    @{int rowCount = 0;}
                    @for (int i = 0; i < Model.Count(); i++)
                {
                        @Html.HiddenFor(modelItem => Model[i].LibroDeHonorariosModelID);
                        <tr>
                            <td>
                                <select id="cuenta@(rowCount++)" name="cuenta" class="form-control" data-live-search="true" style="width:260px">
                                    @if (ViewBag.lstReceptoresConCta != null)
                                    {
                                        foreach (var itemReceptor in ViewBag.lstReceptoresConCta)
                                        {
                                            if (Model[i].Prestador.RUT == itemReceptor.RUT)
                                            {
                                                QuickReceptorModel Receptor = itemReceptor;
                                                @Html.Raw(ParseExtensions.ObtenerCuentaContableDropdownAsStringWithSelected(ViewBag.ObjCliente, Receptor.CuentaConToReceptor.CuentaContableModelID))
                                                break;
                                            }
                                            else
                                            {
                                                @Html.Raw(ViewBag.HtmlStr)
                                            }
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw(ViewBag.HtmlStr)
                                    }

                                </select>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].NumIdenficiador)
                            </td>
                            <td>
                                @Model[i].Fecha.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].Estado)
                            </td>
                            <td>
                                @Model[i].FechaAnulacion.ToString("dd-MM-yyyy")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].Rut)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[i].RazonSocial)
                            </td>
                            <td>
                                @ParseExtensions.NumeroConPuntosDeMiles(Model[i].Brutos)
                            </td>
                            <td>
                                @ParseExtensions.NumeroConPuntosDeMiles(Model[i].Retenido)
                            </td>
                            <td>
                                @ParseExtensions.NumeroConPuntosDeMiles(Model[i].Pagado)
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
        <button type="submit" class="btn btn-success pull-right redondo btnPress">Importar</button>
}


<link href="~/Content/css/Contabilidad/select2.min.css" rel="stylesheet" />
<script src="~/Content/js/Contabilidad/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('select').select2();
    });
</script>

