@model IList<QuickEmisorModel>
@{
    ViewBag.Title = "Seleccionar Emisor Desde Modulos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@using Microsoft.AspNet.Identity*@
<link href="~/Content/css/Home/SeleccionarEmisorDesdeModulos.css" rel="stylesheet" type="text/css">

<p class="text-muted m-b-30 "></p>
<div class="row">
    <div class="col-md-12">
        <p class="text-muted m-b-10"></p>
        <div class="panel panel-default  text-center slider-bg" style="height:600px;">
            <div class="panel-body p-0">
                <div class="">
                    <div id="owl-slider" class="owl-carousel">
                        <div class="item efectos">
                            <h1 class="m-t-20 text-wrap font-600">Bienvenido a Geo<span style="color: #5d9cec">Gest</span></h1>
                            <h4 class="m-t-20 text-muted">Ahorra tiempo y dinero, administrando tu contabilidad </h4>
                        </div>
                        <div class="item m-t-40">
                            <p class="text-muted m-b-20 "></p>
                            @if (Model != null)
                            {
                                foreach (var Emisor in Model)

                                {
                                    
                                    <div class="card col-xs-12 col-sm-3 col-md-2" id="tablaCliente"> 
                                        <a href="javascript:SelecCliente('@Emisor.QuickEmisorModelID');">
                                            <img src="~/Content/images/icono empresa.png" alt="empresa" class="tamañoImagen" />
                                            <div class="container" id="@Emisor.QuickEmisorModelID">
                                                <h4 class="colorletra"><b>@Emisor.RazonSocial</b></h4>
                                                <p class="colorletra">@Emisor.RUTEmpresa</p>
                                            </div>
                                        </a>

                                        <button class="btn boton"><a href="javascript:SelecCliente('@Emisor.QuickEmisorModelID');"><span style="color:white">Seleccionar</span></a></button>

                                    </div>
                                }
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/Content/js/Home/SeleccionarEmisorDesdeModulos.js"></script>
