@model TryTestWeb.Models.ForgotPasswordViewModel
@{
    Layout = null;
    ViewBag.Title = "Forgot your password?";
}

<html>
<head>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- AMA [20-03-2018] : Se generan cambios de layout-->
    @Styles.Render("~/bundles/template2css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/JQueros")
    @Scripts.Render("~/bundles/jqueryval")

    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/HTML5Shiv")
    <![endif]-->


</head>

<body>

    <div class="account-pages"></div>
    <div class="clearfix"></div>
    <div class="wrapper-page">
        <div class="card-box">
            <div class="panel-heading">
                <h3 class="text-center"> Recuperar Contraseña </h3>
            </div>

            <div class="panel-body">
                <form method="post" action="#" role="form" class="text-center">
                    <div id="cajita" class="alert alert-info alert-dismissable">
                        Ingrese su <b>Email</b>, y en momentos le enviaremos un correo a la casilla ingresada!
                    </div>
                    <div class="col-lg-12">

                            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Ingrese Email", @required = "" })
                                <div class="col-lg-12 text-center m-t-20">

                                    <span class="input-group-btn">
                                        <input type="submit" class="btn btn-primary btn-block text-uppercase waves-effect waves-light" value="Enviar" />
                                    </span>
                                </div>
                                <div class="col-lg-12 m-t-10">
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                </div>

                             }
                     </div>
                </form>
            </div>
        </div>


    </div>

    <script>
        var resizefunc = [];
        @if (TempData["ProblemasPagos"] != null)
        {
            @:$("#cajita").attr('class', 'alert alert-warning alert-dismissable');
            @:$("#cajita").text('@(Html.Raw(TempData["ProblemasPagos"]))');
        }
    </script>
</body>

</html>



