@using Microsoft.AspNet.Identity
@{
    bool isCert = ParseExtensions.ItsUserOnCertificationEnvironment(User.Identity.GetUserId());
    //bool isLibroNoHecho = ParseExtensions.MostrarAlertaLibro(User.Identity.GetUserId());
    string logo = ParseExtensions.GetLogoHtml(User.Identity.GetUserId(), Session);
    string RazonS = ParseExtensions.GetRazonS(User.Identity.GetUserId(), Session);
    string RazonSocialClienteCont = ParseExtensions.GetRazonSocialClienteCont(User.Identity.GetUserId(), Session);

    string MsgAlertaCertificadoDigital = string.Empty;
    bool AlertarCertificadoDigital = false;

    // AlertarCertificadoDigital = ParseExtensions.AlertarCertificadoDigitalNearExpiration(User.Identity.GetUserId(), out MsgAlertaCertificadoDigital, Session);


    string VistaAccedida = ViewContext.RouteData.Values["action"].ToString();

    //List<string> lstAdvertencias = ParseExtensions.Revisar_Advertir_CAF(User.Identity.GetUserId(), Session);
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geogest</title>
    <meta name="description" content="Sistema de contabilidad" />
    <meta name="keywords" content="Contabilidad, SII, administración" />
    <meta name="author" content="geogest1.cl" />
    <meta name="copyright" content="Propietario del copyright Geogest" />
    <meta http-equiv=”Content-Language” content=”es” />
 
    <!-- AMA [20-03-2018] : Se generan cambios de layout-->
    @Styles.Render("~/bundles/template2css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/JQueros")
    @Scripts.Render("~/bundles/jqueryval")
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/HTML5Shiv")
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119864475-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119864475-1');
    </script>


</head>

<body class="fixed-left">
    
    <!-- Begin page -->
    <div id="wrapper" class="forced">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    @*<a href="@Url.Action("Index", "Home")" class="logo"><i class="fa fa-edge icon-c-logo"></i><span>E-Factu</span></a>*@
                    <!-- Image Logo here -->
                    <a href="@Url.Action("SeleccionarEmisorDesdeModulos", "Home")" class="logo">
                    <i class="fa icon-c-logo"><img src="~/Content/images/Logo/simbologeo.png" height="60" /></i>
                        <span class="text-center"><img src="~/Content/images/Logo/logogeogest.png" height="63" width="240" /></span>
                    </a>
                </div>
            </div>
            <div class="navbar navbar-default" role="navigation">
                <div class="container">

                    <div class="pull-left">
                        <button class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="md md-menu"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>
                    <ul class="nav navbar-nav hidden-xs">
                        <li><a href="" target="_blank" class="waves-effect waves-light">Soporte</a></li>
                        @if (!string.IsNullOrWhiteSpace(RazonSocialClienteCont))
                        {
                        <li class="waves-effect waves-light">
                            <a href="#">
                                <b class="text-white">USTED ESTÁ TRABAJANDO EN:&nbsp;&nbsp;&nbsp;@RazonSocialClienteCont</b>
                            </a>
                        </li>
                         }
                        @if (ParseExtensions.ItsUserOnCertificationEnvironment(User.Identity.GetUserId()))
                        {
                            <li><a href="#" class="waves-effect waves-light"><i class="ion-alert-circled"></i><span><b> Certificación SII</b></span></a></li>
                        }
                    </ul>

                    <ul class="nav navbar-nav navbar-right pull-right">

                        @Html.Partial("_LoginPartial")


                    </ul>
                </div>

            </div>
        </div>

        <!-- ========== Left Sidebar Start ========== -->
        @if (User.Identity.IsAuthenticated)
        {
            <div class="left side-menu" id="barralateral">
                <div class="sidebar-inner slimscrollleft">
                    <!--- Divider -->
                    <ul id="sidebar-menu">
                        <ul>
                            <li class="text-muted menu-title">@RazonS @*Navegación*@</li>
                          
                            @if (VistaAccedida != "SeleccionarClienteContable")
                            {


                                            if (ModuloHandler.FuncionRequerida(HttpContext.Current, "Index"))
                                            {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-ios7-home-outline"></i> <span>Inicio </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            <a href="@Url.Action("Index", "Home")"><i class="ion-pie-graph"></i> Panel de Control</a>
                                        </ul>
                                    </li>
                                }

                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "AdminFunciones") == true ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "DatosEmpresa") == true ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "AgregarUsuario") == true ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "InvitarUsuario") == true ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "Certificacion") == true ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "Register") == true ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "MisUsuarios") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "AsignarCantidadUsuariosYClientes") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "AsignarPerfilUsuario")
                                    )
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-ios7-gear-outline"></i> <span> Configuración </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "AdminFunciones"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("AdminFunciones", "FMSend")">Administrar Modulos</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "DatosEmpresa"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("DatosEmpresa", "Home")">Datos Empresa</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "AgregarUsuario"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("AgregarUsuario", "Account")">Invitar Usuario</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "InvitarUsuario"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("InvitarUsuario", "Home")">Asignar Permisos</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "Certificacion"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("Certificacion", "Home")">Menu Certificacion</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "Register"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("Register", "Account")">Agregar Nueva Empresa</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "MisUsuarios"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("MisUsuarios", "Account")">Mis Usuarios</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "AsignarCantidadUsuariosYClientes"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("AsignarCantidadUsuariosYClientes", "Account")">Cantidad Usuarios y CC</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "AsignarPerfilUsuario"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("AsignarPerfilUsuario", "Account")">Asignar Perfil a usuario</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }

                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarCliente") == true)
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-ios7-people-outline"></i> <span> Clientes </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarCliente"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListarCliente", "Home")"><i class="ion-person-stalker"></i>Listado Clientes</a>
                                                </li>
                                            }


                                        </ul>
                                    </li>
                                }

                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "PanelClienteContable") || ModuloHandler.FuncionRequerida(HttpContext.Current, "SeleccionarClienteContable") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "AdminUsuariosContables"))
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-calculator"></i> <span> Inicio Contabilidad  </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "PanelClienteContable"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("PanelClienteContable", "Contabilidad")"> Dashboard Contabilidad</a>
                                                </li>


                                            }

                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "SeleccionarClienteContable"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("SeleccionarClienteContable", "Contabilidad")">Seleccionar Cliente Contable</a>
                                                </li>
                                            }


                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "AdminUsuariosContables"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("AdminUsuariosContables", "Contabilidad")">Admin Usuarios Contables</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }


                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarClienteC") == true ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarProveedor") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarPersona") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarHonorarios") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ReestablecerPrestador")
                                    )
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-person-stalker"></i> <span> Prestadores </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarClienteC"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListarClienteC", "Home")"><i class="ion-person-stalker"></i>Clientes</a>
                                                </li>
                                            }

                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarProveedor"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListarProveedor", "Home")"><i class="ion-person-stalker"></i>Proveedores</a>
                                                </li>
                                            }

                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarPersona"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListarPersona", "Home")"><i class="ion-person-stalker"></i>Personas</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListarHonorarios"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListarHonorarios", "Home")"><i class="ion-person-stalker"></i>Honorarios</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ReestablecerPrestador"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ReestablecerPrestador", "Home")"><i class="ion-person-stalker"></i>Reestablecer Prestadores</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }


                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "EditarClienteContable") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ParametrizacionCliente") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "NuevoClienteContable") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaCuentasContables") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaCentroCosto"))
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-android-contact"></i> <span> Cliente Contable </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "NuevoClienteContable"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("NuevoClienteContable", "Contabilidad")">Nuevo Cliente Contable</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "EditarClienteContable"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("EditarClienteContable", "Contabilidad")">Editar Cliente Contable</a>
                                                </li>
                                            }

                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ParametrizacionCliente"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ParametrizacionCliente", "Contabilidad")">Parametros Cliente</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaCuentasContables"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListaCuentasContables", "Contabilidad")">Plan de Cuentas</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaItems"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListaItems", "Contabilidad")">Items</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaCentroCosto"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListaCentroCosto", "Contabilidad")">Centros de Costo</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }

                                if(ModuloHandler.FuncionRequerida(HttpContext.Current, "ConciliacionBAutomatica"))
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-android-storage"></i> <span>Conciliación Bancaria</span> <span class="menu-arrow"></span></a>
                                        <ul>
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ConciliacionBAutomatica"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ConciliacionBAutomatica","ContabilidadConciliacionBancaria")">Conciliar</a>
                                                </li>
                                            }                                                                                   
                                         </ul>
                                    </li>
                                }

                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroDiario") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroVenta") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroCompra") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroMayorTwo") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroDeHonorarios") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "BalanceGeneral") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "CatorceTer") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "CtasContPresupuesto") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "MisPresupuestos") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "EstCtasCtesConciliado")
                                  )
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-stats-bars"></i><span>Reportes</span><span class="menu-arrow"></span></a>
                                        <ul>
                                            <li class="has_sub">
                                                <a href="javascript:void(0);" class="waves-effect"><span>Contables</span><span class="menu-arrow"></span></a>
                                                <ul>
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "BalanceGeneral"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("BalanceGeneral","Contabilidad")">Balance General</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroDiario"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("LibroDiario","Contabilidad")">Libro Diario</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroVenta"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("LibroVenta","Contabilidad")">Libro Venta</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroCompra"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("LibroCompra","Contabilidad")">Libro Compra</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroMayorTwo"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("LibroMayorTwo","Contabilidad")">Libro Mayor</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "LibroDeHonorarios"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("LibroDeHonorarios","Contabilidad")">Libro Honorarios</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "CatorceTer"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("CatorceTer","Contabilidad")">14 Ter</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                            <li class="has_sub">
                                                <a href="javascript:void(0);" class="waves-effect"><span>Financieros</span><span class="menu-arrow"></span></a>
                                                <ul>
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "EstadoResultadoComparativo"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("EstadoResultadoComparativo","Contabilidad")">Estado Resultado Comparativo</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "IEstadoResultado"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("IEstadoResultado","Contabilidad")">Resultado del Ejercicio</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "EstadoResultadoEBITDA"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("EstadoResultadoEBITDA","Contabilidad")">EBITDA</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "EstadoResultadoEBIT"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("EstadoResultadoEBIT","Contabilidad")">EBIT</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "EstadoResultadoEBT"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("EstadoResultadoEBT","Contabilidad")">EBT</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "EstadoResultadoCtaBruto"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("EstadoResultadoCtaBruto","Contabilidad")">Margen Bruto</a>
                                                        </li>
                                                    }
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "MisPresupuestos"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("MisPresupuestos","Contabilidad")">Mis Presupuestos</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                            <li class="has_sub">
                                                <a href="javascript:void(0);" class="waves-effect"><span>Otros</span><span class="menu-arrow"></span></a>
                                                <ul>
                                                    @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "EstCtasCtesConciliado"))
                                                    {
                                                        <li>
                                                            <a href="@Url.Action("EstCtasCtesConciliado","ContabilidadAuxiliares")">Estado Cuentas Corrientes</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                }

                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "CtasContPresupuesto") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "MisPresupuestos"))
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-cash"></i><span>Presupuestos</span><span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "CtasContPresupuesto"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("CtasContPresupuesto","Contabilidad")">Establecer presupuesto</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "MisPresupuestos"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("MisPresupuestos","Contabilidad")">Mis Presupuestos</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }

                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "IngresoVoucher") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaVoucher") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaBoletas") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaVouchersBaja")
                                    )
                                    {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-android-note"></i> <span> Voucher </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">

                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "IngresoVoucher"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("IngresoVoucher", "Contabilidad")">Ingresar Voucher</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaVoucher"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListaVoucher", "Contabilidad")">Lista Vouchers</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaBoletas"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListaBoletas", "Contabilidad")">Boletas</a>
                                                </li>
                                            }
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "ListaVouchersBaja"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("ListaVouchersBaja", "Contabilidad")">Vouchers Borrados</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }

                                if (ModuloHandler.FuncionRequerida(HttpContext.Current, "CargarLibros") ||
                                    ModuloHandler.FuncionRequerida(HttpContext.Current, "CargarLibrosHonorarios")
                                    )
                                {
                                    <li class="has_sub">
                                        <a href="javascript:void(0);" class="waves-effect"><i class="ion-merge"></i> <span> Importar </span> <span class="menu-arrow"></span></a>
                                        <ul class="list-unstyled">
                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "CargarLibros"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("CargarLibros", "Contabilidad")">Importar Libros SII</a>
                                                </li>
                                            }

                                            @if (ModuloHandler.FuncionRequerida(HttpContext.Current, "CargarLibrosHonorarios"))
                                            {
                                                <li>
                                                    <a href="@Url.Action("CargarLibrosHonorarios", "Contabilidad")">Importar Libros SII Honorarios</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }



                            }


                           

                        <!-- //if (ModuloHandler.FuncionAnyContabilidad(HttpContext.Current))-->

                        
            

                        </ul>

                        </ul>
                </div>
            </div>
        }
        <div>
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div id="alert_container">
                    </div>
                    <div class="container">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer class="footer">
                © 2018. All rights reserved GeoGest. -- Versión: 10.0.1
            </footer>

        </div>

        <!-- AMA [20-03-2018] : Se generan cambios de layout-->
        @Scripts.Render("~/bundles/template2js")
        @Scripts.Render("~/bundles/jqueryval")


        <script type="text/javascript">
           
            @if (VistaAccedida != null && (VistaAccedida == "SeleccionarEmisorDesdeModulos" || VistaAccedida == "SeleccionarClienteContable"))
            {
                @:$("#wrapper").attr('class', 'forced enlarged');
                        }

            $(document).ready(function () {
                $(window).keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });

                $.validator.addMethod("rutValidator", function (value, element) {
                    return this.optional(element) || $.Rut.validar(value);
                }, "Debe ingresar un rut valido.");
            });


            if ($('[type="date"]').prop('type') != 'date') {
                $('[type="date"]').datepicker({ dateFormat: 'dd-mm-yy' });
            }

            $('input.date').datepicker({ dateFormat: 'dd-mm-yy' });
                
            function ShowMessage(message, messagetype) {
                var cssclass;
                var color;
                switch (messagetype) {
                    case 'Success':
                        cssclass = 'alert-success'
                        color = '#5FBEAA'
                        break;
                    case 'Error':
                        cssclass = 'alert-danger'
                        color = '#F05050'
                        break;
                    case 'Warning':
                        cssclass = 'alert-warning'
                        color = '#F2AE43'
                        break;
                    default:
                        cssclass = 'alert-info'
                }
                $('#alert_container').append('<div id="alert_div" style="width: 60%; opacity: 1; color: white ;  background :' + color + '; position: absolute; right : 2% ; z-index: 99; margin: 0 0.5%; " class="m-t-40 alert ' + cssclass + ' alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><span>' + message + '</span></div>');
            }

            @*@foreach (string alerta in lstAdvertencias)
            {
                @:ShowMessage('@alerta', 'Error');
            }*@

            @if(AlertarCertificadoDigital)
            {
                @:ShowMessage('@MsgAlertaCertificadoDigital', 'Error');
            }

            @if (TempData["ProblemasPagos"] != null)
            {
                @:ShowMessage('@TempData["ProblemasPagos"].ToString()', 'Error');
            }
            @if(TempData["Error"] != null)
            {
                @:ShowMessage('@TempData["Error"].ToString()', 'Error');
            }
            @if(TempData["Alerta"] != null)
            {
                @:ShowMessage('@TempData["Alerta"].ToString()', 'Warning');
            }
            @if (TempData["Correcto"] != null)
            {
                @:ShowMessage('@TempData["Correcto"].ToString()', 'Success');
            }



        </script>

        <style>
            .alert.alert-server {
                margin-bottom: 0;
                border-radius: 0;
                padding-left: 330px;
            }

            .messagealert {
                width: 100%;
                position: fixed;
                top: 0px;
                z-index: 100000;
                padding: 0;
                font-size: 15px;
            }
        </style>

        <script>
            var resizefunc = [];
        </script>





    </div></body>
</html>
