@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "Error";
    Response.StatusCode = ViewBag.Code;
    string errorSTR= ViewBag.Code.ToString();
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FacturaLabs</title>
    <meta name="description" content="Sistema de Facturación Electrónica y contabilidad" />
    <meta name="keywords" content="Facturación, Electronica, Contabilidad, SII, administración" />
    <meta name="author" content="facturalabs.cl" />
    <meta name="copyright" content="Propietario del copyright FacturaLabs" />
    <meta http-equiv=”Content-Language” content=”es” />
    <!-- AMA [20-03-2018] : Se generan cambios de layout-->
    @Styles.Render("~/bundles/template2css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/JQueros")

    @Scripts.Render("~/bundles/jqueryval")


    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/HTML5Shiv")
    <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119864475-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-119864475-1');
    </script>


</head>

<body>

    <div class="clearfix"></div>

    <div class="wrapper-page">
        <div class="ex-page-content text-center">
            @if (string.IsNullOrWhiteSpace(errorSTR) == false && errorSTR.Length >= 3)
            {
                <div class="text-error"><span class="text-primary">@errorSTR[0]</span><span class="text-pink">@errorSTR[1]</span><span class="text-info">@errorSTR[2]</span></div>
            }
            else
            {
                <div class="text-error"><span class="text-primary">@ViewBag.Code</span></div>
            }
            <h2>@ViewBag.Title</h2><br>
            <p class="text-muted">@ViewBag.Description</p>
            <br>
            <a class="btn btn-default waves-effect waves-light" href="https://geogest.southcentralus.cloudapp.azure.com/"> Return Home</a>

        </div>
    </div>


    <script>
            var resizefunc = [];
    </script>
</body>