@model TryTestWeb.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Cambio de Contraseña";
}


<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-30">
            <div class="button-list">
            </div>
        </div>
        <div class="page-header-2">
            <h2 class="page-header">Cambio de Contraseña</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Inicio</a>
                </li>
                <li class="active">
                    Cambio de Contraseña
                </li>
            </ol>
        </div>
    </div>
</div>



@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <br>
    <div class="row">
        <div class="panel panel-1">

            <div class="panel-body">
               
                <div class="form-group">
                    @*@Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-6">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", required = "", placeholder = "Antigua Contraseña" })
                    </div>
                    <div class="col-xs-3">
                    </div>
                    </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-6">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", required = "", placeholder = "Nueva Contraseña" })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-6">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", required = "", placeholder = "Confirmar Contraseña" })
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
                <div class="form-group text-center m-t-40">
                    <div class="col-xs-3">
                    </div>
                    <div class="col-xs-6">
                        <button class="btn btn-primary  waves-effect waves-light" type="submit">
                            Cambiar Contraseña
                        </button>
                        @*<input type="submit" value="Cambiar Contraseña" class="btn btn-primary  waves-effect waves-light" />*@
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}
