@model List<CartolaBancariaModel>
@{
    ViewBag.Title = "DetalleCartola";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Detalle Cartola Bancaria</h2>

<div class="panel panel-default">
    <div class="panel-heading">Cartola Banaria </div>
    <div class="panel-body">
        <div class="table table-responsive table-hover table-striped compact">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>       
                        <th>Folio</th>            
                        <th>Detalle</th>
                        <th>debe</th>
                        <th>Haber</th>
                        <th>Saldo</th>
                        <th>Cuenta Contable</th>
                        <th>Rut</th>
                        <th>Glosa</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
               <tbody>
                   @{ int Corr = 0;}
                   @foreach (var itemCartola in Model)
                   {
                       Corr++;
                   <tr>
                       <td>@Corr</td>
                       <td>@itemCartola.Folio</td>
                       <td>@itemCartola.Detalle</td>
                       <td>@ParseExtensions.NumeroConPuntosDeMiles(itemCartola.Debe)</td>
                       <td>@ParseExtensions.NumeroConPuntosDeMiles(itemCartola.Haber)</td>
                       <td>@ParseExtensions.NumeroConPuntosDeMiles(itemCartola.Saldo)</td>
                       <td><input type="text" name="name" value="" /></td>
                       <td><input type="text" name="name" value="" /></td>
                       <td><input type="text" name="name" value="" /></td>
                       <td><button class="btn-sm btn-success">Enviar</button></td>
                   </tr>
                   }
               </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer"></div>
</div>

