@model ReporteResultadoConciliacion
@{
    ViewBag.Title = "ResultadoConciliacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="col-md-2 pull-right">
    <br />
    <button class="btn btn-default" onclick="ExportarPDF();">
        <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>Exportar PDF
    </button>
    <br />
    <br />
</div>
<br />

<h2>Resultado Conciliación</h2>

<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Conciliación Bancaria</h2></div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <table class="table" id="reportNoContMayor">
                        <thead>
                            <tr>
                                <th colspan="6">DOCUMENTOS NO CONTABILIZADOS EN EL MAYOR</th>
                            </tr>
                            <tr>
                                <th>Docum</th>
                                <th>Fecha</th>
                                <th>Detalle</th>
                                <th>Debe</th>
                                <th>Haber</th>
                                <th>Saldo</th>
                            </tr>
                        </thead>
                        <tbody>
                                @if (Model.LstNoContabilizadosEnElMayor.Count() > 0)
                                {
                                    foreach (var ItemReporte in Model.LstNoContabilizadosEnElMayor)
                                    {
                                        <tr>
                                            <td>@ItemReporte.Folio</td>
                                            <td>@ParseExtensions.ToDD_MM_AAAA(ItemReporte.Fecha)</td>
                                            <td>@ItemReporte.Detalle</td>
                                            <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemReporte.Debe)</td>
                                            <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemReporte.Haber)</td>
                                            <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemReporte.Saldo)</td>
                                        </tr>
                                    }
                                }
                        </tbody>
                    </table>

                    <br />
                    <br />
                    <hr />

                    <table class="table table-bordered compact" id="reportNoRegisCartola">
                        <thead>
                            <tr>
                                <th colspan="6">DOCUMENTOS NO REGISTRADOS EN LA CARTOLA</th>
                            </tr>
                            <tr>
                                <th>Docum</th>
                                <th>Fecha</th>
                                <th>Detalle</th>
                                <th>Debe</th>
                                <th>Haber</th>
                                <th>Saldo</th>
                            </tr>

                        </thead>
                        <tbody>
                            
                                @if (Model.LstNoContabilizadosEnLaCartola.Count() > 1)
                                {
                                    foreach (var ItemReporte in Model.LstNoContabilizadosEnLaCartola)
                                    {
                                        <tr>
                                            <td>@ItemReporte.NumDocAsignado</td>
                                            <td>@ParseExtensions.ToDD_MM_AAAA(ItemReporte.FechaContabilizacion)</td>
                                            <td>@ItemReporte.Glosa</td>
                                            <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemReporte.Debe)</td>
                                            <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemReporte.Haber)</td>
                                            <td>@ParseExtensions.NumeroConPuntosDeMiles(ItemReporte.Saldo)</td>
                                        </tr>
                                    }
                                }

                                       
                        </tbody>
                    </table>
                    <br />
                    <br />
                    <table class="table" id="reporteTotales">
                        <thead>
                            <tr>
                                <th>Saldo Mayor</th>
                                <th>Documentos No Contabilizados en el Mayor</th>
                                <th>Total Mayor</th>
                                <th>Saldo Cartola</th>
                                <th>Documentos no registrados en la Cartola</th>
                                <th>Total Cartola</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@ParseExtensions.NumeroConPuntosDeMiles(Model.TotalSaldoMayor)</td>
                                <td>@ParseExtensions.NumeroConPuntosDeMiles(Model.TotalSaldoNoContabilizadosMayor)</td>
                                <td>@ParseExtensions.NumeroConPuntosDeMiles(Model.TotalMayor)</td>
                                <td>@ParseExtensions.NumeroConPuntosDeMiles(Model.TotalSaldoCartola)</td>
                                <td>@ParseExtensions.NumeroConPuntosDeMiles(Model.TotalDocumNoContaCartola)</td>
                                <td>@ParseExtensions.NumeroConPuntosDeMiles(Model.TotalCartola)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/jspdf.debug.js"></script>
<script src="~/Content/js/html2pdf.js"></script>
<script src="~/Content/js/html2canvas.js"></script>
<script src="https://unpkg.com/jspdf-autotable@3.5.6/dist/jspdf.plugin.autotable.js"></script>

<script>
    ExportarPDF();

    function ExportarPDF() {
        var doc = new jsPDF();

        let reportNoContMayor = document.getElementById('reportNoContMayor');
        let reportNoContCartola = document.getElementById('reportNoRegisCartola');
        let reportTotales = document.getElementById('reporteTotales');

        doc.autoTable({
            html: reportNoContMayor, theme: 'grid'
        });
        doc.autoTable({
            html: reportNoContCartola, theme: 'grid'
        });
        doc.autoTable({
            html: reporteTotales, theme: 'grid'
        });

        doc.save('Reporte Conciliacion Bancaria.pdf');
    }
</script>