
@{
    ViewBag.Title = "ResultadoConciliacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="col-md-2 pull-right">
    <br />
    <button class="btn btn-default" onclick="ExportarPDF();">
        <span class="btn-label"><i class="fa fa-file-pdf-o"></i></span>Exportar PDF
    </button>
    <br />
    <br />
</div>
<br />

@if (ViewBag.NoInsertados != null)
{
    <div class="alert alert-info">Registros no ingresados por alguna falta de datos o datos erroneos</div>
    <br />
    <div class="row">
        <div class="table table-responsive">
            <table id="noinsertados" class="table">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Docum </th>
                        <th>Detalle </th>
                        <th>Debe </th>
                        <th>Haber </th>
                        <th>Saldo </th>
                        <th>CodigoInterno </th>
                        <th>Rut </th>
                        <th>Glosa </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.NoInsertados)
                    {
                    <tr>
                        <td>@ParseExtensions.ToDD_MM_AAAA(item.Fecha)</td>
                        <td>@item.Docum </td>
                        <td>@item.Detalle </td>
                        <td>@ParseExtensions.NumeroConPuntosDeMiles(item.Debe)</td>
                        <td>@ParseExtensions.NumeroConPuntosDeMiles(item.Haber) </td>
                        <td>@ParseExtensions.NumeroConPuntosDeMiles(item.Saldo) </td>
                        <td>@item.CodigoInterno </td>
                        <td>@item.Rut </td>
                        <td>@item.Glosa </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else 
{
    <div class="alert alert-success">Todos los registros fueron insertados con éxito</div>
}



<script src="~/Content/js/jspdf.debug.js"></script>
<script src="~/Content/js/html2pdf.js"></script>
<script src="~/Content/js/html2canvas.js"></script>
<script src="~/Content/js/Contabilidad/jspdf.plugin.autotable.js"></script>

<script>
    ExportarPDF();

    function ExportarPDF() {
        var doc = new jsPDF();

        let noInsertados = document.getElementById('noinsertados');

        doc.autoTable({
            html: noInsertados, theme: 'grid'
        });
      
        doc.save('ReporteRegistrosNoInsertados.pdf');
    }
</script>