
<!-- Page-Title -->

@{
    ViewBag.Title = "ListadoEmpleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model PagedList.IPagedList<EmpleadoModel>
@using PagedList.Mvc;
@using Microsoft.AspNet.Identity;
@using System.Globalization;

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-40">
            <form role="form">
                <div class="button-list">
                    <button  @(Model == null || Model.Count == 0 ? "disabled" : string.Empty) class="btn btn-primary waves-effect waves-light pull-right" type="submit" name="Exportar" data-animation="fadein" data-plugin="custommodal"
                            data-overlaySpeed="200" data-overlayColor="#36404a">
                        <span class="btn-label"><i class="fa fa-file-excel-o"></i></span>Exportar
                    </button>
                    <a href="@Url.Action("AgregarEmpleado","Remuneracion")" class="btn btn-primary waves-effect waves-light pull-right" data-animation="fadein" data-plugin="custommodal"
                       data-overlaySpeed="200" data-overlayColor="#36404a">
                        <span class="btn-label"><i class="ion-android-add"></i></span>
                       Agregar Empleado
                    </a>
                </div>
        </div>
        <div class="page-header-2">
            <h2 class="page-header">Empleados</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="#">Empleados</a>
                </li>
                <li class="active">
                    Empleados
                </li>
            </ol>
        </div>
    </div>
</div>


<!-- Filtros -->
<div class="row m-t-15">
    <div class="col-md-6">
        <div class="form-group">
            <div class="form-group contact-search m-b-30">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Ingrese su busqueda" })
                <button type="submit" class="btn btn-white"><i class="ion-android-search"></i></button>
            </div>
        </div> <!-- form-group -->
        </form>
    </div>
    <div class="col-md-6">
    </div>
</div>

<!-- Tabla -->
<div class="row">
    <div id="listaDerecho" class="col-lg-12">
       
        @{int cont = 0;}
           @foreach (var Empleado in Model)
           {
            
            <div class="row">
           
                <div class="col-lg-12">
                    <div class="card-box m-b-10">

                        <div class="table-box opport-box">
          
                            <div class="col-lg-1">
                                <div class="table-detail checkbx-detail">
                                    <div class="checkbox checkbox-success m-r-15">
                                        <input id="checkbox_@cont" onclick="javascript: seleccionaDetalle(@cont, this);" type="checkbox">
                                        <label for="checkbox1"></label>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-1">
                                <div class="table-detail checkbx-detail">
                                    <h5 class="m-t-0"><b>@(cont+1)</b></h5>
                                    <div class="member-info">
                                        <p class="text-dark m-t-0">Nº</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="table-detail">
                                    @{
                                        String nombre = Empleado.nombre;
                                        int limite = 20;
                                        if (Empleado.nombre.Length > limite)
                                        {
                                            nombre = Empleado.nombre.Substring(0, limite - 1) + "...";
                                        } }

                                    <h5 class="m-t-0"><b>@nombre </b></h5>
                                    <div class="member-info">
                                       
                                        
                                        <p class="text-dark m-b-0"><span class="text-muted"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="table-detail">

                                    @{
                                        String rut = Empleado.rut;
                                        int limite1 = 20;
                                        if (Empleado.rut.Length > limite1)
                                        {
                                            rut = Empleado.rut.Substring(0, limite1 - 1) + "...";
                                        } }

                                    <h5 class="m-t-0"><b>RUT @rut</b></h5>
                                    <div class="member-info">
                                       
                                        <p class="text-dark m-b-0"><span class="text-muted"></span></p>
                                    </div>
                                </div>
                            </div>

          



                            <div class="col-lg-1">
                                <div class="table-detail">
                                    <h5 class="m-t-0"><b>Estado</b></h5>
                                    <div class="member-info">
                                        <p class="text-dark m-b-0"><span class="label label-success">Activo</span></p>
                                    </div>

                                </div>
                            </div>


                            <div style="display:none;">
                                <div id="Col1_@cont">
                                    @Empleado.rut
                                </div>
                                <div id="Col2_@cont">
                                    @Empleado.nombre
                                </div>
                                <div id="Col3_@cont">
                                    @Empleado.apellidos
                                </div>
                                <div id="Col4_@cont">
                                    @Empleado.telefono
                                </div>
                                <div id="Col5_@cont">
                                    @Empleado.correo
                                </div>
                                <div id="Col6_@cont">
                                    @Empleado.direccion
                                </div>
                                <div id="Col7_@cont">
                                    @Empleado.FechaDeIngreso
                                </div>
                                <div id="Col8_@cont">
                                    @Empleado.FechaDeNacimiento
                                </div>
                                <div id="Col9_@cont">
                                    @Empleado.Nacionalidad
                                </div>
                                <div id="Col10_@cont">
                                    @Empleado.GetNewRegionName2(User.Identity.GetUserId())
                                </div>
                                <div id="Col11_@cont">
                                    @Empleado.GetNewComunaName2(User.Identity.GetUserId())
                                </div>
                                
                               

                               
                                <div id="Col13_@cont">
                                    <a href="@Url.Action("EditarEmpleado", "Remuneracion",  new { empleado_id = Empleado.EmpleadoModelID })" class="btn btn-icon waves-effect waves-light btn-primary" data-toggle="tooltip" data-placement="bottom" title="Editar Cliente!" data-original-title="Editar Cliente!"><i class="ion-edit"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @{cont++;
                }
            </div>

           }

    </div>
           


    <div id="listaIzquierdo" class="col-lg-4" style="display:none;">
        <div class="card-box">

            <h4 class="page-header">Acciones</h4>
            <p class="text-dark m-b-5"><span class="text-muted"><div id="detCol13"></div></span></p>


            <h4 class="page-header">Información Empleado</h4>

            <p class="text-dark m-b-5"><b>Rut: </b> <span class="text-muted"><div id="detCol1"></div></span></p>
            <p class="text-dark m-b-5"><b>Nombre: </b> <span class="text-muted"><div id="detCol2"></div> </span></p>
            <p class="text-dark m-b-5"><b>Apellidos: </b> <span class="text-muted"><div id="detCol3"></div></span></p>
            <p class="text-dark m-b-5"><b>Telefono:  </b> <span class="text-muted"><div id="detCol4"></div></span></p>
            <p class="text-dark m-b-5"><b>Correo: </b> <span class="text-muted"><div id="detCol5"></div></span></p>
            <p class="text-dark m-b-5"><b>Dirección: </b> <span class="text-muted"><div id="detCol6"></div></span></p>
            <p class="text-dark m-b-5"><b>Fecha de ingreso: </b> <span class="text-muted"><div id="detCol7"></div></span></p>
            <p class="text-dark m-b-5"><b>Fecha de nacimiento: </b> <span class="text-muted"><div id="detCol8"></div></span></p>
            <p class="text-dark m-b-5"><b>Nacionalidad: </b> <span class="text-muted"><div id="detCol9"></div></span></p>
            <p class="text-dark m-b-5"><b>Región: </b> <span class="text-muted"><div id="detCol10"></div></span></p>
            <p class="text-dark m-b-5"><b>Comuna: </b> <span class="text-muted"><div id="detCol11"></div></span></p>


            <h4 class="page-header">Información Contacto Comercial</h4>
            <p class="text-dark m-b-5"><b>Nombre Contacto: </b> <span class="text-muted"><div id="detCol9"></div></span></p>
            <p class="text-dark m-b-5"><b>Correo: </b> <span class="text-muted"><div id="detCol8"></div></span></p>
            <p class="text-dark m-b-5"><b>Telefono Contacto: </b> <span class="text-muted"><div id="detCol12"></div></span></p>
        </div>

    </div>

           
</div>

Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListadoEmpleado",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script>

    function seleccionaDetalle(cont, dato)
    {
        if ($(dato).prop("checked") == false) {

            if ($("#listaDerecho").attr("class") == "col-lg-12") {
                $("#listaDerecho").attr("class", "col-lg-8");
                $("#listaIzquierdo").removeAttr("style");
            } else {
                $("#listaDerecho").attr("class", "col-lg-12");
                $("#listaIzquierdo").attr("style", "display:none;");
            }

            $("#detCol1").html($("#Col1_" + cont).html());
            $("#detCol2").html($("#Col2_" + cont).html());
            $("#detCol3").html($("#Col3_" + cont).html());
            $("#detCol4").html($("#Col4_" + cont).html());
            $("#detCol5").html($("#Col5_" + cont).html());
            $("#detCol6").html($("#Col6_" + cont).html());
            $("#detCol7").html($("#Col7_" + cont).html());
            $("#detCol8").html($("#Col8_" + cont).html());
            $("#detCol9").html($("#Col9_" + cont).html());
            $("#detCol10").html($("#Col10_" + cont).html());
            $("#detCol11").html($("#Col11_" + cont).html());

            $("#detCol12").html($("#Col12_" + cont).html());
            $("#detCol13").html($("#Col13_" + cont).html());

        }
        if ($(dato).prop("checked") == true) {

            for (var i = 0; i < 10 ; i++) {
                if (cont != i) {
                    console.log(cont);
                    $("#checkbox_" + i).removeAttr("checked");
                }

            }

            if ($("#listaDerecho").attr("class") == "col-lg-12") {
                $("#listaDerecho").attr("class", "col-lg-8");
                $("#listaIzquierdo").removeAttr("style");
            }

            $("#detCol1").html($("#Col1_" + cont).html());
            $("#detCol2").html($("#Col2_" + cont).html());
            $("#detCol3").html($("#Col3_" + cont).html());
            $("#detCol4").html($("#Col4_" + cont).html());
            $("#detCol5").html($("#Col5_" + cont).html());
            $("#detCol6").html($("#Col6_" + cont).html());
            $("#detCol7").html($("#Col7_" + cont).html());
            $("#detCol8").html($("#Col8_" + cont).html());
            $("#detCol9").html($("#Col9_" + cont).html());
            $("#detCol10").html($("#Col10_" + cont).html());
            $("#detCol11").html($("#Col11_" + cont).html());

            $("#detCol12").html($("#Col12_" + cont).html());
            $("#detCol13").html($("#Col13_" + cont).html());

        }

        $('html,body').scrollTop(0);

    }

</script>

